# Constructor

# 1. Default constructor/without parameter constructor

In [ ]:
#syntax
class ClassName:
    def __init__(self):
        self.attribute = value
obj=ClassName()

In [2]:
class car:
    def __init__(self):
        self.make="jordan"
        self.model="tesla"
        self.year=2020
c=car()
print(c.make)
print(c.model)
print(c.year)

jordan
tesla
2020

In [9]:
class student:
    def __init__(self):
        self.name=input("Enter a name")
        self.course=input("Enter a course name:")
        self.marks=int(input("Enter a marks:"))
    def display(self):
        print("Name of student:",self.name)
        print("Name of course:",self.course)
        print("marks of student:",self.marks)

s1=student() #automatically call _init method
s1.display()
s2=student()
s2.display()

Enter a name ashu
Enter a course name: data science
Enter a marks: 90

Name of student: ashu
Name of course: data science
marks of student: 90

Enter a name paras
Enter a course name: python
Enter a marks: 89

Name of student: paras
Name of course: python
marks of student: 89

# 2.Parameter constructor

In [ ]:
#syntax
class ClassName:
    def __init__(self,parameter):
        self.attribute = value
obj=ClassName()

In [11]:
class car:
    def __init__(self,make,model,year):
        self.make=make
        self.model=model
        self.year=year

c=car("Honda","maruti",2025)
print(c.make)
print(c.model)
print(c.year)

Honda
maruti
2025

In [16]:
class faculty:
    def __init__(self,a,b,c):
        self.f_id=a
        self.f_name=b
        self.f_salary=c
    def display(self):
        print("faculty id:",self.f_id)
        print("faculty Name:",self.f_name)
        print("faculty salary:",self.f_salary)

f1=faculty(101,"ashuu",20000)
f1.display()
f2=faculty(102,"paras",30000)
f2.display()

faculty id: 101
faculty Name: ashuu
faculty salary: 20000
faculty id: 102
faculty Name: paras
faculty salary: 30000