# Dict

In [ ]:
dict1={"key":value1,"key2":value2}

In [2]:
d1={"name":"ashu","age":27,"socre":74,100:200}
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 100: 200}

In [3]:
d1={"name":"ashu","age":27,"socre":74,100:200,[10,20]}   #list is mutabe we cannot add
d1

SyntaxError: ':' expected after dictionary key (246531524.py, line 1)

In [ ]:
d1={"name":"ashu","age":27,"socre":74,100:200,"marks":[10,20]}   #list we add as a key
d1

In [ ]:
d1={"name":"ashu","age":27,"socre":74,100:200,"marks":[10,20]}   
d1

In [11]:
d1={"name":"ashu","age":27,"socre":74,100:200,"marks":[10,20],"{10,20}":[10]}   we can not put key name as a muatble datatype
d1

{'name': 'ashu',
 'age': 27,
 'socre': 74,
 100: 200,
 'marks': [10, 20],
 '{10,20}': [10]}

In [ ]:
#how to key value pair aceess

In [8]:
for i in d1:
    print(i)

name
age
socre
100

In [10]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1["age"]

27

In [12]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1["salary"]   #presnet no
d1

KeyError: 'salary'

In [13]:
#get
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1.get("name")

'ashu'

In [15]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1.get("kpl")    #not erroe when presnet
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'tcs'}

In [16]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1.values()
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'tcs'}

In [17]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1.keys()
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'tcs'}

In [18]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1.items()
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'tcs'}

In [21]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
for key in d1.keys():
    print(key)

name
age
socre
company

In [8]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
for key in d1.values():
    print(key)

ashu
27
74
tcs

In [23]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
for key in d1.items():
    print(key)

('name', 'ashu')
('age', 27)
('socre', 74)
('company', 'tcs')

In [24]:
#enumrate
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
for key,value in d1.items():
    print(key)

name
age
socre
company

In [25]:
#enumrate
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
for key,value in d1.items():
    print(value)

ashu
27
74
tcs

In [26]:
#update
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1["company"]="wipro"     #beacuse of muatble
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'wipro'}

In [27]:
# add
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
d1["salary"]=300000
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'tcs', 'salary': 300000}

In [20]:
#upadte function
d1={"name":"ashu","age":27,"socre":74,"company":"tcs"}
newdict={"salary":40000,"age":30,"company":"wipro"}
d1.update(newdict)
print(d1)

{'name': 'ashu', 'age': 30, 'socre': 74, 'company': 'wipro', 'salary': 40000}

In [30]:
#remove
d1={"name":"ashu","age":27,"socre":74,"company":"tcs","salary":1000}
d1.pop("age")   #age delete
d1

{'name': 'ashu', 'socre': 74, 'company': 'tcs', 'salary': 1000}

In [32]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs","salary":1000}
d1.popitem()
d1

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'tcs'}

In [33]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs","salary":1000}
d1.clear()
d1

{}

In [21]:
d1={"name":"ashu","age":27,"socre":74,"company":"tcs","salary":1000}
d1.de1()
d1

AttributeError: 'dict' object has no attribute 'de1'

In [36]:
#nested dict
emp_deatlis={"CG001":{"name":"ashu","age":27,"socre":74,"company":"tcs","salary":10000,},
             "CG002":{"name":"paras","age":20,"socre":86,"company":"wipro","salary":2000,}}
emp_deatlis

{'CG001': {'name': 'ashu',
  'age': 27,
  'socre': 74,
  'company': 'tcs',
  'salary': 10000},
 'CG002': {'name': 'paras',
  'age': 20,
  'socre': 86,
  'company': 'wipro',
  'salary': 2000}}

In [37]:
emp_deatlis={"CG001":{"name":"ashu","age":27,"socre":74,"company":"tcs","salary":10000,},
             "CG002":{"name":"paras","age":20,"socre":86,"company":"wipro","salary":2000,}}
emp_deatlis["CG001"]

{'name': 'ashu', 'age': 27, 'socre': 74, 'company': 'tcs', 'salary': 10000}

In [38]:
emp_deatlis={"CG001":{"name":"ashu","age":27,"socre":74,"company":"tcs","salary":10000,},
             "CG002":{"name":"paras","age":20,"socre":86,"company":"wipro","salary":2000,}}
emp_deatlis["CG001"]["age"]

27

In [39]:
sub_name=["phy","chem","bio","eng","maths"]
sub_marks=[90,67,88,56,80]

TypeError: unhashable type: 'list'

In [42]:
sub_name=["phy","chem","bio","eng","maths"]
sub_marks=[90,67,88,56,80]
dict1={}
for i in range(len(sub_marks)):
    #print(sub_name[i])
    #print(sub_marks[i])
    dict1[sub_name[i]]=sub_marks[i]
dict1

{'phy': 90, 'chem': 67, 'bio': 88, 'eng': 56, 'maths': 80}

In [43]:
sub_name=["phy","chem","bio","eng","maths"]
sub_marks=[90,67,88,56,80]
dict1={}
for i,v in enumerate(sub_name):
    dict1[v]=sub_marks[i]
dict1

{'phy': 90, 'chem': 67, 'bio': 88, 'eng': 56, 'maths': 80}

In [ ]:
#update function try..

In [46]:

square={}
for i in range(11,31):
    square[i]=i**2
print(square)

{11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}

In [49]:
#sort the dict using key
d1={'phy': 90, 'chem': 67, 'bio': 88, 'eng': 56, 'maths': 80}
new_dict={}
sorted_key=sorted(d1.keys())
sorted_key
for i in sorted_key:
    new_dict[i]=d1[i]
new_dict

{'bio': 88, 'chem': 67, 'eng': 56, 'maths': 80, 'phy': 90}

In [22]:
d1={'phy': 90, 'chem': 67, 'bio': 88, 'eng': 56, 'maths': 80}
d1.setdefault("phy",99)   #already ah tymel ky change nhi
d1

{'phy': 90, 'chem': 67, 'bio': 88, 'eng': 56, 'maths': 80}

In [51]:
d1={'phy': 90, 'chem': 67, 'bio': 88, 'eng': 56, 'maths': 80}
d1.setdefault("geo",99) # nhi tymul add
d1

{'phy': 90, 'chem': 67, 'bio': 88, 'eng': 56, 'maths': 80, 'geo': 99}

In [53]:
dict.fromkeys(["a","e","i","o","u"],"vowels")

{'a': 'vowels', 'e': 'vowels', 'i': 'vowels', 'o': 'vowels', 'u': 'vowels'}

In [54]:
dict.fromkeys(["a","e","i","o","u"])

{'a': None, 'e': None, 'i': None, 'o': None, 'u': None}

In [55]:

# print Ascii number in dict
d1={}
for i in range(65,91):
    d1[chr(i)]=i
print(d1)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [60]:
a="""Machine learning (ML) is a subfield of artificial intelligence within computer science that evolved from the study of pattern recognition
and computational learning theory.[1] In 1959, Arthur Samuel defined machine learning as a 
"field of study that gives computers the ability to learn without being explicitly programmed".
[2] ML involves the study and construction of algorithms that can learn from and make predictions on data.
[3] These algorithms operate by building a model from a training set of example observations to make data-driven predictions or decisions 
expressed as outputs, 
rather than following strictly static program instructions."""

string=a.lower()
lst=string.split()
result={}
#print(lst)
for i in lst:
    cnt=string.count(i)
#print(cnt)
    result[i]=cnt
print(result)

{'machine': 2, 'learning': 3, '(ml)': 1, 'is': 2, 'a': 45, 'subfield': 1, 'of': 5, 'artificial': 1, 'intelligence': 1, 'within': 1, 'computer': 2, 'science': 1, 'that': 3, 'evolved': 1, 'from': 3, 'the': 6, 'study': 3, 'pattern': 1, 'recognition': 1, 'and': 3, 'computational': 1, 'theory.[1]': 1, 'in': 16, '1959,': 1, 'arthur': 1, 'samuel': 1, 'defined': 1, 'as': 2, '"field': 1, 'gives': 1, 'computers': 1, 'ability': 1, 'to': 2, 'learn': 5, 'without': 1, 'being': 1, 'explicitly': 1, 'programmed".': 1, '[2]': 1, 'ml': 2, 'involves': 1, 'construction': 1, 'algorithms': 2, 'can': 1, 'make': 2, 'predictions': 2, 'on': 10, 'data.': 1, '[3]': 1, 'these': 1, 'operate': 1, 'by': 1, 'building': 1, 'model': 1, 'training': 1, 'set': 1, 'example': 1, 'observations': 1, 'data-driven': 1, 'or': 4, 'decisions': 1, 'expressed': 1, 'outputs,': 1, 'rather': 1, 'than': 1, 'following': 1, 'strictly': 1, 'static': 1, 'program': 2, 'instructions.': 1}

In [17]:
dict1={}
print(dict1)
dict1['naresh']=50
dict1['ramesh']=40
print(dict1)
{'naresh': 50, 'ramesh': 40}
dict1['naresh']=20
print(dict1)

{}
{'naresh': 50, 'ramesh': 40}
{'naresh': 20, 'ramesh': 40}

In [ ]:
#practice

In [3]:
A=frozenset()
print(A,type(A))

frozenset() <class 'frozenset'>

In [4]:
A.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [6]:
B=frozenset(range(10,60,10))

print(B)

frozenset({40, 10, 50, 20, 30})

In [7]:
B={frozenset(range(1,6)),frozenset(range(10,60,10))}
print(B)
for x in B:
    print(x)
for y in x:
    print(y,end=' ')
print()

{frozenset({1, 2, 3, 4, 5}), frozenset({40, 10, 50, 20, 30})}
frozenset({1, 2, 3, 4, 5})
frozenset({40, 10, 50, 20, 30})
40 10 50 20 30

In [13]:
contacts={'naresh':998878899,
'suresh':556676677,
'ramesh':556778975,
'kishore':776566784}

names=contacts.keys()
print(names)
for name in names:
    print(name)


values=contacts.values()
print(values)
for value in values:
    print(value)

items=contacts.items()
print(items)
for i in items:
    print(i[0],i[1])

dict_keys(['naresh', 'suresh', 'ramesh', 'kishore'])
naresh
suresh
ramesh
kishore
dict_values([998878899, 556676677, 556778975, 776566784])
998878899
556676677
556778975
776566784
dict_items([('naresh', 998878899), ('suresh', 556676677), ('ramesh', 556778975), ('kishore', 776566784)])
naresh 998878899
suresh 556676677
ramesh 556778975
kishore 776566784