In [3]:
str1="python"
for i in range(0,10):
    print(str1)

python
python
python
python
python
python
python
python
python
python

In [4]:
str1="python and data science"
print("the length of tsring is:",len(str1)

_IncompleteInputError: incomplete input (1866703351.py, line 2)

In [7]:
#even number
for i in range(1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [10]:
#odd number
for i in range(1,51):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [11]:
str1="python"
print("length--->",len(str1))
for char in str1:
    print(char)
    print("python is a programming language")

length---> 6
p
python is a programming language
y
python is a programming language
t
python is a programming language
h
python is a programming language
o
python is a programming language
n
python is a programming language

In [13]:
list1=[2,3,4,5,"python","class",10,25,4.5]
str_list1=[]
str_list1=[]
str_list1=[]
for i in list1:
    print(f"the datatype of{i}id{type(i)}")

the datatype of2id<class 'int'>
the datatype of3id<class 'int'>
the datatype of4id<class 'int'>
the datatype of5id<class 'int'>
the datatype ofpythonid<class 'str'>
the datatype ofclassid<class 'str'>
the datatype of10id<class 'int'>
the datatype of25id<class 'int'>
the datatype of4.5id<class 'float'>

In [ ]:
list1=[2,3,4,5,"python","class",10,25,4.5]
str_list1=[]
str_list1=[]
str_list1=[]
for i in list1:
    print(f"the datatype of{i}id{type(i)}")

In [15]:
lst=[2,4,7,8,9]
multi=1
for i in lst:
    multi=multi*i
    print(multi)

2
8
56
448
4032

In [16]:
string="python is a progrma"
print(len(string))
for i in range(0,len(string)):
    print("for index number",i)
    print(string[i])

19
for index number 0
p
for index number 1
y
for index number 2
t
for index number 3
h
for index number 4
o
for index number 5
n
for index number 6

for index number 7
i
for index number 8
s
for index number 9

for index number 10
a
for index number 11

for index number 12
p
for index number 13
r
for index number 14
o
for index number 15
g
for index number 16
r
for index number 17
m
for index number 18
a

In [17]:
for i,v in enumerate(string):
    print(f"at index number{i}value is{v}")

at index number0value isp
at index number1value isy
at index number2value ist
at index number3value ish
at index number4value iso
at index number5value isn
at index number6value is
at index number7value isi
at index number8value iss
at index number9value is
at index number10value isa
at index number11value is
at index number12value isp
at index number13value isr
at index number14value iso
at index number15value isg
at index number16value isr
at index number17value ism
at index number18value isa

In [19]:
list1=[2,3,4,5,"python","class",10,25,4.5]
str_list1=[]
str_list1=[]
str_list1=[]
for i in list1:
    print(f"the datatype of{i}id{type(i)}")

1
2
3
4
5
hello
value found
6
7
8
9
10

In [20]:
list1=[2,3,4,5,"python","class",10,25,4.5]
str_list1=[]
str_list1=[]
str_list1=[]
for i in list1:
    print(f"the datatype of{i}id{type(i)}")
    break

the datatype of2id<class 'int'>

In [21]:
for i in range(1,11):
    print(i)
    if i==5:
        print("hello")
        break

1
2
3
4
5
hello

In [26]:
list1=[12,23,4,5,"python",7,8]
for i in list1:
    print("iteam--->",i)
    if type(i)==str:
        print("string found in lst")
        break
    print("hello")

iteam---> 12
hello
iteam---> 23
hello
iteam---> 4
hello
iteam---> 5
hello
iteam---> python
string found in lst

In [29]:
list1=[12,23,4,5,"python",7,8]
for i in list1:
    print("iteam--->",i)
    if type(i)==str:
        print("string found in lst")
    break
    print("hello")
print("######## we are out of for loop #########")

iteam---> 12
######## we are out of for loop #########

In [31]:
list1=[12,23,4,5,"python",7,8]
for i in list1:
    print("iteam--->",i)
    if type(i)==str:
        print("string found in lst")
    print("hello")
    break
    print("hello")
print("######## we are out of for loop #########")

iteam---> 12
hello
######## we are out of for loop #########