In [2]:
x=input("enter a number")
print(x)

enter a number 78

78

y=input("enter a number")
print(y)

In [3]:
a=input("enter a number")
print(a)

enter a number 10

10

In [7]:
a=int(input("enter a number"))
print(a)
print(type(a))
a*a

enter a number 10

10
<class 'int'>

100

In [ ]:
a=int(input("enter a number:"))
print(a)
print(type(a))

In [10]:
a=23
print("value of a:",a)
print("square of a:",a*a)

value of a: 23
square of a: 529

In [11]:
a=80
b=10
print(f"addition of {a} and {b} is: {a+b}")

addition of 80 and 10 is: 90

In [14]:
a=eval(input("enter a number"))
print(f"square of {a} is {a*a}")

enter a number 10

square of 10 is 100

In [15]:
a=30
b=20
print("addition of {} and {} is:{}".format(a,b,a+b))

addition of 30 and 20 is:50

In [22]:
print("ABC International school")
print("Name\t" "Subject\t"  "marks\t")
print("Ashwini\t" "Python\t" "45\t")

ABC International school
Name	Subject	marks
Ashwini	Python	45

In [25]:
print("ABC International school""\nName\t" "Subject\t"  "marks\t""\nAshwini\t" "Python\t" "45\t")
# print("Name\t" "Subject\t"  "marks\t")
# print("Ashwini\t" "Python\t" "45\t")

ABC International school
Name	Subject	marks
Ashwini	Python	45

num=int(input("Enter an integer value:"))
flt=float(input("enter an float value:"))
string=str(input("Enter an string value:"))
boolean=bol(input("Enter an True or flase value:"))

print("Type of num:",type(num))
print("Type of float:",type(flt))
print("Type of string:",type(str))
print("Type of :",type(bol))

In [6]:
num=int(input("Enter an integer value:"))
flt=float(input("enter an float value:"))
string=str(input("Enter an string value:"))
boolean = eval(input("Enter a boolean (True/False): "))
lst=list(input("Enter a list value:"))
tupl=tuple(input("Enter a tuple value:"))


print("Type of num:",type(num))
print("Type of float:",type(flt))
print("Type of string:",type(str))
print("Type of boolean :",type(boolean))
print("Type of lst:",type(lst))
print("Type of tupl:",type(tupl))

Enter an integer value: 10
enter an float value: 28.9
Enter an string value: "ashu"
Enter a boolean (True/False):  True
Enter a list value: [2,3,4,8]
Enter a tuple value: (10,20,40)

Type of num: <class 'int'>
Type of float: <class 'float'>
Type of string: <class 'type'>
Type of boolean : <class 'bool'>
Type of lst: <class 'list'>
Type of tupl: <class 'tuple'>