In [ ]:
1.Scenario: You're working in a warehouse automation system.
You receive real-time stock data, but it includes items that are out of stock (quantity = 0).
inventory = [("Pen", 10), ("Pencil", 0), ("Notebook", 5), ("Eraser", 0)]
Task:Your job is to clean the data so that only products that are currently available get processed for further tasks like restocking or display.

In [10]:
inventory = [("Pen", 10), ("Pencil", 0), ("Notebook", 5), ("Eraser", 0)]
clean_data=[(item,quantity) for item,quantity in inventory if quantity>0]
clean_data

[('Pen', 10), ('Notebook', 5)]

In [ ]:
2.Scenario: You are working as a data analyst in a customer service company. 
The company has a customer data list where each element is a tuple containing customer name and age.
customer_data = [("John", 25), ("Alice", 15), ("Bob", 65), ("Mike", 35), ("Sara", 9), ("Tom", 14)]
Task: Classify customers into different age groups (children: 0-12, teenagers: 13-19, adults: 20-59, seniors: 60+). 
Implement this logic using loops and conditional statements

In [8]:
customer_data = [("John", 25), ("Alice", 15), ("Bob", 65), ("Mike", 35), ("Sara", 9), ("Tom", 14)]
#custr=max(age for customer,age in customer_data)
children=[]
teenagers=[]
adults=[]
seniors=[]
for name,age in customer_data:
    if 0<= age <=12:
        children.append(name)
    elif 13<= age <=19:
        teenagers.append(name)
    elif 20<= age <=59:
        adults.append(name)
    else:
        seniors.append(name)

print("children name=",children)
print("teenagers name =",teenagers)
print("adults name =",adults)
print("seniors name =",seniors)

children name= ['Sara']
teenagers name = ['Alice', 'Tom']
adults name = ['John', 'Mike']
seniors name = ['Bob']

In [ ]:
3.Scenario:You are working for a logistics company. You're given inventory data from two warehouses. Each warehouse provides a list of tuples (product_name, quantity).
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
Task:Your task is to merge, sum up the quantities, and remove any product with total quantity 0.

In [9]:
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
sum=[]
for product_name, quantity1 in warehouse1:
    print(quantity1)
    
for product_name, quantity2 in warehouse2:
    print(quantity2)

10
5
-2
-10
2
4
1

In [10]:
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
total={}
for product, qty in warehouse1 + warehouse2:   # join both lists
    if product in total:
        total[product] += qty
    else:
        total[product] = qty

# Print result
for product, qty in total.items():
    print(product, ":", qty)

Pen : 0
Notebook : 7
Eraser : -1
Marker : 4

In [11]:
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
tot={}
for products, quantity in warehouse1 + warehouse2:
    if products in tot:
        tot[products]+=quantity
    else:
        tot[products]=quantity
        
for products in list(tot.keys()):
    if tot[products]==0:
        del tot[products]

for products, quantity in tot.items():    
    print(products,":",quantity)

Notebook : 7
Eraser : -1
Marker : 4

In [ ]:
4.Scenario:You are working in an order processing team. The shipping system and billing system each produce a list of order IDs.
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]
Task:Your task is to find out which orders are mismatched:
● Either shipped but not billed
● Or billed but not shipped

In [12]:
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]
sbn=[]
bns=[]
for order in shipped_orders:
    if order not in billed_orders:
        sbn.append(order)

for order in billed_orders:
    if order not in shipped_orders:
        bns.append(order)


print("shipped but not billed:",sbn)
print("billed but not shipped",bns)

shipped but not billed: [101, 105]
billed but not shipped [104, 109]

In [ ]:
5.Scenario: Classify customers into children / teenagers / adults / seniors.
customer_data = [("John", 25), ("Alice", 15), ("Bob", 65), ("Mike", 35), ("Sara", 9), ("Tom", 14)]

In [13]:
children=[]
teenagers=[]
adults=[]
seniors=[]
for name,age in customer_data:
    if 0<= age <=12:
        children.append(name)
    elif 13<= age <=19:
        teenagers.append(name)
    elif 20<= age <=59:
        adults.append(name)
    else:
        seniors.append(name)

print("children name=",children)
print("teenagers name =",teenagers)
print("adults name =",adults)
print("seniors name =",seniors)

children name= ['Sara']
teenagers name = ['Alice', 'Tom']
adults name = ['John', 'Mike']
seniors name = ['Bob']

In [ ]:
6.Scenario: Merge two warehouse lists, sum quantities per product, remove products whose total is 0.
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]

In [16]:
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
tot={}
for product, quantity in warehouse1 + warehouse2:
    if product in tot:
        tot[product]+=quantity
    else:
        tot[product]=quantity
        
for product in list(tot.keys()):
    if tot[product]==0:
        del tot[product]

for product, quantity in tot.items():    
    print(product,":",quantity)

Notebook : 7
Eraser : -1
Marker : 4

In [ ]:
7.Scenario: Find orders that are shipped but not billed and billed but not shipped.
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]

In [15]:
#7.Scenario: Find orders that are shipped but not billed and billed but not shipped.
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]
sbn=[]
bsn=[]
for order in shipped_orders:
    if order not in billed_orders:
        sbn.append(order)

for order in billed_orders:
    if order not in shipped_orders:
        bsn.append(order)

print("shipped but not billed :",sbn)
print("billed but not shipped.:",bsn)

shipped but not billed : [101, 105]
billed but not shipped.: [104, 109]

In [ ]:
8.Scenario: Compute average weekly hours and classify employees as Underworked / Standard / Overworked. Return list of tuples (name, category).
timesheet = {
"Alice": [8, 8, 8, 8, 8],
"Bob": [4, 5, 4, 5, 4],
"Charlie": [10,10,9,9,10],
"Diana": [6, 6, 6, 6, 6] }

In [16]:
timesheet = {
"Alice": [8, 8, 8, 8, 8],
"Bob": [4, 5, 4, 5, 4],
"Charlie": [10,10,9,9,10],
"Diana": [6, 6, 6, 6, 6] }
r=[]
for name,hours in timesheet.items():
    avg=sum(hours)/len(hours)
    #r.append(name,hours)
    if avg<6:
        category="underworked"
    elif 6 <=avg<=8:
        category="standard"
    else:
        category="overworked"
    r.append((name,category))
print(r)

[('Alice', 'standard'), ('Bob', 'underworked'), ('Charlie', 'overworked'), ('Diana', 'standard')]

In [ ]:
9.Scenario:You are a Python developer in an HR tech company. Employee work hours for the week are stored as a dictionary, 
        where keys are employee names and values are lists of hours worked each day.
timesheet = { "Alice": [8, 8, 8, 8, 8],
"Bob": [4, 5, 4, 5, 4],
"Charlie": [10, 10, 9, 9, 10],
"Diana": [6, 6, 6, 6, 6] }
Task:You need to calculate the average weekly hours and
classify employees into:
● Underworked: less than 30 hours
● Standard: between 30 and 40 hours
    
● Overworked: more than 40 hours
Return a list of tuples (name, category).

In [19]:
timesheet = {
"Alice": [8, 8, 8, 8, 8],
"Bob": [4, 5, 4, 5, 4],
"Charlie": [10,10,9,9,10],
"Diana": [6, 6, 6, 6, 6] }
r=[]
for name,hours in timesheet.items():
    total_sum=sum(hours)
    #r.append(name,hours)
    if total_sum <30:
        category="underworked"
    elif 30 <=total_sum<=40:
        category="standard"
    else:
        category="overworked"
    r.append((name,category))
print(r)

[('Alice', 'standard'), ('Bob', 'underworked'), ('Charlie', 'overworked'), ('Diana', 'standard')]

In [ ]:
10.Scenario : Sensor Reading Analysis You are working in an IoT company. Each sensor sends hourly temperature readings in a list. 
If a sensor has more than 3 consecutive identical readings, it is considered faulty.
sensor_data = { "SensorA": [22, 22, 22, 22, 23, 24],
"SensorB": [25, 25, 26, 27, 25],
"SensorC": [30, 30, 30, 30, 30],
"SensorD": [20, 21, 20, 21, 20] }
Task:Write a program that checks each sensor’s data and marks it as “OK” or “Faulty”. Input is a dictionary where keys are sensor IDs and values are lists of readings.

In [26]:
sensor_data = { 
    "SensorA": [22, 22, 22, 22, 23, 24],
    "SensorB": [25, 25, 26, 27, 25],
    "SensorC": [30, 30, 30, 30, 30],
    "SensorD": [20, 21, 20, 21, 20] 
}

r = []

for sensor, reading in sensor_data.items():
    Faulty = False
    count = 1
    
    for i in range(1, len(reading)):
        if reading[i] == reading[i-1]:
            count += 1
            if count > 3:
                Faulty = True
                break
        else:
            count = 1
    
    a = "Faulty" if Faulty else "OK"
    r.append((sensor, a))

print(r)

[('SensorA', 'Faulty'), ('SensorB', 'OK'), ('SensorC', 'Faulty'), ('SensorD', 'OK')]