In [ ]:
1.Scenario: You're working in a warehouse automation system.
You receive real-time stock data, but it includes items that are out of stock (quantity = 0).
inventory = [("Pen", 10), ("Pencil", 0), ("Notebook", 5), ("Eraser", 0)]
Task:Your job is to clean the data so that only products that are currently available get processed for further tasks like restocking or display.

In [4]:
inventory = [("Pen", 10), ("Pencil", 0), ("Notebook", 5), ("Eraser", 0)]
[(items,quantity)for items,quantity in inventory if quantity>0]

[('Pen', 10), ('Notebook', 5)]

In [ ]:
2.Scenario: You are working as a data analyst in a customer service company. 
The company has a customer data list where each element is a tuple containing customer name and age.
customer_data = [("John", 25), ("Alice", 15), ("Bob", 65), ("Mike", 35), ("Sara", 9), ("Tom", 14)]
Task: Classify customers into different age groups (children: 0-12, teenagers: 13-19, adults: 20-59, seniors: 60+). 
Implement this logic using loops and conditional statements

In [10]:
customer_data = [("John", 25), ("Alice", 15), ("Bob", 65), ("Mike", 35), ("Sara", 9), ("Tom", 14)]
children=[]
teenagers=[]
adults=[]
seniors=[]
for name,age in customer_data:
    if 0<age<12:
        children.append(name)
    elif 13<age<19:
        teenagers.append(name)
    elif 20<age<59:
        adults.append(name)
    else:
        seniors.append(name)
print("Children name:",children)
print("teenagers name:",teenagers)
print("adults name:",adults)
print("seniors name:",seniors)

Children name: ['Sara']
teenagers name: ['Alice', 'Tom']
adults name: ['John', 'Mike']
seniors name: ['Bob']

In [8]:
customer_data = [("John", 25), ("Alice", 15), ("Bob", 65), ("Mike", 35), ("Sara", 9), ("Tom", 14)]
#custr=max(age for customer,age in customer_data)
children=[]
teenagers=[]
adults=[]
seniors=[]
for name,age in customer_data:
    if 0<= age <=12:
        children.append(name)
    elif 13<= age <=19:
        teenagers.append(name)
    elif 20<= age <=59:
        adults.append(name)
    else:
        seniors.append(name)

print("children name=",children)
print("teenagers name =",teenagers)
print("adults name =",adults)
print("seniors name =",seniors)

children name= ['Sara']
teenagers name = ['Alice', 'Tom']
adults name = ['John', 'Mike']
seniors name = ['Bob']

In [ ]:
3.Scenario:You are working for a logistics company. You're given inventory data from two warehouses. Each warehouse provides a list of tuples (product_name, quantity).
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
Task:Your task is to merge, sum up the quantities, and remove any product with total quantity 0.

In [23]:
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
tot={}
for product,qty in warehouse1+warehouse2:
    if product in tot:
        tot[product]+=qty
    else:
        tot[product]=qty
for product in list(tot.keys()):
    if tot[product]==0:
        del tot[product]
        
for product,qty in tot.items():
    print(product ,":",qty)

Notebook : 7
Eraser : -1
Marker : 4

10
5
-2
-10
2
4
1

Pen : 0
Notebook : 7
Eraser : -1
Marker : 4

In [11]:
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
tot={}
for products, quantity in warehouse1 + warehouse2:
    if products in tot:
        tot[products]+=quantity
    else:
        tot[products]=quantity
        
for products in list(tot.keys()):
    if tot[products]==0:
        del tot[products]

for products, quantity in tot.items():    
    print(products,":",quantity)

Notebook : 7
Eraser : -1
Marker : 4

In [ ]:
4.Scenario:You are working in an order processing team. The shipping system and billing system each produce a list of order IDs.
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]
Task:Your task is to find out which orders are mismatched:
● Either shipped but not billed
● Or billed but not shipped

In [12]:
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]
sbn=[]
bns=[]
for order in shipped_orders:
    if order not in billed_orders:
        sbn.append(order)

for order in billed_orders:
    if order not in shipped_orders:
        bns.append(order)


print("shipped but not billed:",sbn)
print("billed but not shipped",bns)

shipped but not billed: [101, 105]
billed but not shipped [104, 109]

In [ ]:
5.Scenario: Classify customers into children / teenagers / adults / seniors.
customer_data = [("John", 25), ("Alice", 15), ("Bob", 65), ("Mike", 35), ("Sara", 9), ("Tom", 14)]

In [13]:
children=[]
teenagers=[]
adults=[]
seniors=[]
for name,age in customer_data:
    if 0<= age <=12:
        children.append(name)
    elif 13<= age <=19:
        teenagers.append(name)
    elif 20<= age <=59:
        adults.append(name)
    else:
        seniors.append(name)

print("children name=",children)
print("teenagers name =",teenagers)
print("adults name =",adults)
print("seniors name =",seniors)

children name= ['Sara']
teenagers name = ['Alice', 'Tom']
adults name = ['John', 'Mike']
seniors name = ['Bob']

In [ ]:
6.Scenario: Merge two warehouse lists, sum quantities per product, remove products whose total is 0.
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]

In [16]:
warehouse1 = [("Pen", 10), ("Notebook", 5), ("Eraser", -2)]
warehouse2 = [("Pen", -10), ("Notebook", 2), ("Marker", 4), ("Eraser", 1)]
tot={}
for product, quantity in warehouse1 + warehouse2:
    if product in tot:
        tot[product]+=quantity
    else:
        tot[product]=quantity
        
for product in list(tot.keys()):
    if tot[product]==0:
        del tot[product]

for product, quantity in tot.items():    
    print(product,":",quantity)

Notebook : 7
Eraser : -1
Marker : 4

In [ ]:
7.Scenario: Find orders that are shipped but not billed and billed but not shipped.
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]

In [15]:
#7.Scenario: Find orders that are shipped but not billed and billed but not shipped.
shipped_orders = [101, 102, 103, 105, 108]
billed_orders = [102, 103, 104, 108, 109]
sbn=[]
bsn=[]
for order in shipped_orders:
    if order not in billed_orders:
        sbn.append(order)

for order in billed_orders:
    if order not in shipped_orders:
        bsn.append(order)

print("shipped but not billed :",sbn)
print("billed but not shipped.:",bsn)

shipped but not billed : [101, 105]
billed but not shipped.: [104, 109]