In [1]:
for i in range(2,5):
    print(i)
    if i==5:
        print(i)
        print("Value found")
        break

2
3
4

In [3]:
for num in range(10,15):
    print("number is:",num)
    if num==12:
        print("required number found")
        break
    print("we are testing break statement")

number is: 10
we are testing break statement
number is: 11
we are testing break statement
number is: 12
required number found

In [5]:
for num in range(10,15):
    print("number is:",num)
    if num==12:
        print("required number found")
        continue
    print("we are testing break statement")

number is: 10
we are testing break statement
number is: 11
we are testing break statement
number is: 12
required number found
number is: 13
we are testing break statement
number is: 14
we are testing break statement

In [7]:
list1=[3,1,4,6,7,"python","pune",10.30,51.21,"mumbai",10,20]
int_lst=[]
str_lst=[]
float_lst=[]
for i in list1:
    if type(i)==int:
        int_lst.append(i)
    elif type(i)==str:
        str_lst.append(i)
    else:
        float_lst.append(i)
print("integer list---->",int_lst)
print("string list---->",str_lst)
print("float list----->",float_lst)

integer list----> [3, 1, 4, 6, 7, 10, 20]
string list----> ['python', 'pune', 'mumbai']
float list-----> [10.3, 51.21]

In [8]:
list1=[3,1,4,6,7,"python","pune",10.30,51.21,"mumbai",10,20]
int_lst=[]
str_lst=[]
float_lst=[]
for i in list1:
    if type(i)==int:
        int_lst.append(i)
        break
    elif type(i)==str:
        str_lst.append(i)
        break
    else:
        float_lst.append(i)
        break
print("integer list---->",int_lst)
print("string list---->",str_lst)
print("float list----->",float_lst)

integer list----> [3]
string list----> []
float list-----> []

In [14]:
list1=[3,1,4,6,7,"python","pune",10.30,51.21,"mumbai",10,20]
int_lst=[]
str_lst=[]
float_lst=[]
for i in list1:
    if type(i)==int:
        int_lst.append(i)
        continue
    elif type(i)==str:
        str_lst.append(i)
        break
    else:
        float_lst.append(i)
        break
print("integer list---->",int_lst)
print("string list---->",str_lst)
print("float list----->",float_lst)

integer list----> [3, 1, 4, 6, 7]
string list----> ['python']
float list-----> []

In [13]:
list1=[3,1,4,6,7,"python","pune",10.30,51.21,"mumbai",10,20]
int_lst=[]
str_lst=[]
float_lst=[]
for i in list1:
    if type(i)==int:
        int_lst.append(i)
        continue
    elif type(i)==str:
        str_lst.append(i)
        continue
    else:
        float_lst.append(i)
        break
print("integer list---->",int_lst)
print("string list---->",str_lst)
print("float list----->",float_lst)

integer list----> [3, 1, 4, 6, 7]
string list----> ['python', 'pune']
float list-----> [10.3]

In [15]:
for i in range(1,5):
    print("good")
    continue
    print("Great")
    break

good
good
good
good

In [16]:
for i in range(2,7):
    print("Nedd to work")
    break
    print("work is done")

Nedd to work

In [17]:
`for i in range(5):
    print("value of i---->",i)
else:
    print("for loop is completed")

SyntaxError: invalid syntax (720832551.py, line 1)

In [ ]:
5!=5*4*3*2*1

In [ ]:
n=5
fact=1

In [18]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [27]:
n=11
for i in range(2,n):
    print(i)
    if n%i==0:
        print(f"{n}is not prime number")
    else:
        print(f"{n}is a prime number")

2
11is a prime number
3
11is a prime number
4
11is a prime number
5
11is a prime number
6
11is a prime number
7
11is a prime number
8
11is a prime number
9
11is a prime number
10
11is a prime number

In [26]:
n=11
for i in range(2,n):
    print(i)
    if n%i==0:
        print(f"{n}is not prime number")
    else:
        print(f"{n}is a prime number")
        break

2
11is a prime number

In [25]:
n=12
for i in range(2,n):
    print(i)
    if n%i==0:
        print(f"{n}is not prime number")
    else:
        print(f"{n}is a prime number")
        break

2
12is not prime number
3
12is not prime number
4
12is not prime number
5
12is a prime number

In [28]:
n=12
for i in range(2,n):
    print(i)
    if n%i==0:
        print(f"{n}is not prime number")
        break
else:
        print(f"{n}is a prime number")

2
12is not prime number

In [29]:
n=int(input("Enter the number:"))
for i in range(2,n):
   # print(i)
    if n%i==0:
        print(f"{n}is not prime number")
        break
else:
        print(f"{n}is a prime number")

Enter the number: 10

10is not prime number

In [30]:
for char in "Pyhton":
    print("Char is:",char)
    for i in range(5):
        print("number is:",i)

Char is: P
number is: 0
number is: 1
number is: 2
number is: 3
number is: 4
Char is: y
number is: 0
number is: 1
number is: 2
number is: 3
number is: 4
Char is: h
number is: 0
number is: 1
number is: 2
number is: 3
number is: 4
Char is: t
number is: 0
number is: 1
number is: 2
number is: 3
number is: 4
Char is: o
number is: 0
number is: 1
number is: 2
number is: 3
number is: 4

In [31]:
for char in "Pyhton":
    print("Char is:",char)
    for i in range(1,3):
        print("number is:",i)

Char is: P
number is: 1
number is: 2
Char is: y
number is: 1
number is: 2
Char is: h
number is: 1
number is: 2
Char is: t
number is: 1
number is: 2
Char is: o
number is: 1
number is: 2
Char is: n
number is: 1
number is: 2

In [32]:
for i in range(1,3):
    print("*********************************",i)

********************************* 1
********************************* 2

In [38]:
for i in range(1,5):
    print("number is:",i)
    for j in range(1,3):
        print("***********",j)
    print()

number is: 1
*********** 1
*********** 2

number is: 2
*********** 1
*********** 2

number is: 3
*********** 1
*********** 2

number is: 4
*********** 1
*********** 2

In [37]:
for i in range(1,5):
    print("number is:",i)
    for j in range(1,3):
        print("python")
    print()

number is: 1
python
python

number is: 2
python
python

number is: 3
python
python

number is: 4
python
python

In [39]:
for i in range(1,5):
    print("number is:",i)
    for j in range(1,5):
        print("*")
    print()

number is: 1
*
*
*
*

number is: 2
*
*
*
*

number is: 3
*
*
*
*

number is: 4
*
*
*
*

In [40]:
for i in range(1,5): #i=1  #i=2
    for j in range(1,5): #j=1,2,3,4
        print("******")
    print()

******
******
******
******

******
******
******
******

******
******
******
******

******
******
******
******