# List

In [1]:
city_name=["pune","hydrabad","kolkata"]
new_vity_list=["sangli","dhule"]
city_name.append (new_vity_list)
city_name

['pune', 'hydrabad', 'kolkata', ['sangli', 'dhule']]

In [2]:
len(city_name)

4

## extend function

In [4]:
## extend function
city_name=["pune","hydrabad","kolkata"]
new_vity_list=["sangli","dhule"]
city_name.extend(new_vity_list)
city_name

['pune', 'hydrabad', 'kolkata', 'sangli', 'dhule']

In [5]:
a="hydrabad"
a.split()

['hydrabad']

In [6]:
#list constuctor    Q convert into a list
a="hydrabad"
list(a)

['h', 'y', 'd', 'r', 'a', 'b', 'a', 'd']

In [8]:
a="Ashu"
list(a)

['A', 's', 'h', 'u']

In [7]:
a=10
list(a)   #because we cannot iterable integer

TypeError: 'int' object is not iterable

In [12]:
# but use bulit in function then list will not be updated
city_name=["pune","hydrabad","kolkata"]
new_vity_list=["sangli","dhule"]

city_name.append(new_vity_list)
city_name

['pune', 'hydrabad', 'kolkata', ['sangli', 'dhule']]

In [9]:
# but not use bulit in function then list will not be updated
city_name=["pune","hydrabad","kolkata"]
new_vity_list=["sangli","dhule"]
city_name+new_vity_list

['pune', 'hydrabad', 'kolkata', 'sangli', 'dhule']

In [14]:
# remove
l1=[10000,3,5,6,90,9]
l1.remove(3)
l1

[10000, 5, 6, 90, 9]

In [15]:
l1=[10000,3,5,6,90,9]
l1.remove(0)       #not presnet
l1

ValueError: list.remove(x): x not in list

In [16]:
l1=[10000,3,5,6,90,9]
if 9in l1:
    l1.remove(9)
else:
    print("not in list")
l1

<>:2: SyntaxWarning: invalid decimal literal
<>:2: SyntaxWarning: invalid decimal literal
C:\Users\Ashwini\AppData\Local\Temp\ipykernel_10408\1464378138.py:2: SyntaxWarning: invalid decimal literal
  if 9in l1:

[10000, 3, 5, 6, 90]

In [17]:
#Sort
list1=[10,20,40,60,80,4,2,1,8]
list1.sort()
list1

[1, 2, 4, 8, 10, 20, 40, 60, 80]

In [18]:
#des sort
list1=[10,20,40,60,80,4,2,1,8]
list1.sort(reverse=True)
list1

[80, 60, 40, 20, 10, 8, 4, 2, 1]

In [21]:
sub_name=["M","P","R","h","eng"]
sub_name.sort()       # Captical because of asscii number
sub_name

['M', 'P', 'R', 'eng', 'h']

In [22]:
sub_name=["M","P","R","h","eng",89,3,45,1]
sub_name.sort()       #error buz co 
sub_name

TypeError: '<' not supported between instances of 'int' and 'str'

# Reverse

In [24]:
list1=[10,20,30,4,1,8,3,0]
list1[::-1]

[0, 3, 8, 1, 4, 30, 20, 10]

In [25]:
list1=[10,20,30,4,1,8,3,0]
list1.reverse()
list1

[0, 3, 8, 1, 4, 30, 20, 10]

In [28]:
##Reversed
list1=[10,20,30,4,1,8,3,0]
list(reversed(list1))  #use list contuctor bez not bult in function and 
                            to result assign new variable

[0, 3, 8, 1, 4, 30, 20, 10]

# index

In [33]:
list1=[10,2,4,7,4,9]
list1.index(7)

3

# Count

In [34]:
# it count occurance of element in list
list1=[10,2,4,7,4,9]
list1.count(7)

1

In [36]:
list1=[10,2,4,7,4,9]
max(list1)

10

In [51]:
num1=[23,45,5,23]
num2=[]
for i in num1:
   
    num2.append(i**2)

In [44]:
num1=[23,45,5,23]
num2=[]
for i in num1:
   
    num2.append(i**2)

In [52]:
#list compration
a=[i**2 for i in num1]
a

[529, 2025, 25, 529]

In [59]:
# even number list
num=[923,45,67,10,20]
num2=[]
for i in num:
    if i%2==0:
        num2.append(i**2)
num2

[100, 400]

In [60]:
#list compresion use above program
[i**2 for i in num if i%2==0]

[100, 400]

In [61]:
# count of even number    #not  possible compresion
num=[923,45,67,10,20]
cnt=0
for i in num:
    if i%2==0:
        cnt=cnt+1
cnt

2

In [64]:
print(list(range(1,51)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [67]:
a=[]
for i in range(1,51):
    a.append(i**2)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

In [68]:
print([i**2 for i in range(1,51)])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500]

# copy function

In [69]:
list1=[2,5,7,8,9]
list2=list1
list1.append(3)
print(list1)
print(list2)

[2, 5, 7, 8, 9, 3]
[2, 5, 7, 8, 9, 3]

In [70]:
id(list1)

2224789681408

In [71]:
id(list2)       #id-->memory location same so that we can use cpoy fun()

2224789681408

In [72]:
list1=[2,5,7,8,9]
list2=list1.copy()
list1.append(3)
print(list1)
print(list2)

[2, 5, 7, 8, 9, 3]
[2, 5, 7, 8, 9]

In [74]:
#nested list--> (list inside list) ---copy function fail 
list1=[[3,4],[5,7],[9,6]]
list2=list1.copy()
list2[1][0]=2
print(list1)
print(list2)

[[3, 4], [2, 7], [9, 6]]
[[3, 4], [2, 7], [9, 6]]

In [75]:
#deep copy-->
import copy
list1=[[3,4],[5,7],[9,6]]
list2=copy.deepcopy(list1)
list2[1][0]=2
print(list1)
print(list2)

[[3, 4], [5, 7], [9, 6]]
[[3, 4], [2, 7], [9, 6]]

In [77]:
#netesd list
list1=[[3,4],[5,7],[9,6]]
list1[0][1]

4

In [78]:
list1=[[3,4],[5,7],[9,6]]
for i in list1:
    print(i)
    for j in list1:
        print(j)

[3, 4]
[3, 4]
[5, 7]
[9, 6]
[5, 7]
[3, 4]
[5, 7]
[9, 6]
[9, 6]
[3, 4]
[5, 7]
[9, 6]

In [81]:
#flating nested list--IMP
list1=[[3,4],[5,7],[9,6]]
list2=[]
for i in list1:
    print(i)
    for j in i:
        list2.append(j)
list2

[3, 4]
[5, 7]
[9, 6]

[3, 4, 5, 7, 9, 6]

In [ ]:
#faltan using compresion
[j for i in list1 for j in i]
#outer for lopp   inner for loop